@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop</title>

    <environment names="Development">
        <script src="~/dist/main.js"></script>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/vue/dist/vue.js"></script>


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    </environment>

    <environment names="Staging,Production">
        <script src="~/dist/main.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/vue/dist/vue.js"></script>


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    </environment>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Erik's Webshop</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- WinkelMandje enkel tonen indien niet ingelogd of ingelogd als geen admin-->

                @if (!SignInManager.IsSignedIn(User) || SignInManager.IsSignedIn(User) && SignInManager.UserManager.SupportsUserRole.ToString() != "Admin")
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="ShoppingCart" asp-action="Index">
                            <i class="fas fa-shopping-cart"></i> Shopping cart
                            <span class="badge"> </span>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                }
                <!--  -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>  User Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-action="">User Profile</a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User) && SignInManager.UserManager.SupportsUserRole.ToString() != "Admin")
            {<a class="nav-item dropdown" href="#"> <i class="fas fa-tools"></i> Administrator Tools </a>}

        </div>
    </nav>



    @*<partial name="_CookieConsentPartial" />*@
    </br>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - WebShop</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
