<div>
    @{ var teller = 0;

        foreach (Product product in ViewBag.Products)
        {

            if (teller == 0)
            {
                @:<div class="row">
}

<div class="col-sm-4 col-md-4">
    <div class="mb-4 shadow-sm">

        <div class="card shadow" style="width:100%; box-shadow:10px">
            <img class="card-img-top img-fluid" src="@product.ImagePath" alt="Card image Responsive image" style="height:300px">
            <div class="card-body">
                <h6 class="card-title text-wrap text-truncate" style="height: 35px;"><b>@product.Title</b></h6>
                <div class="text-wrap text-truncate" style="height:150px">
                    <p class="card-text"><i>@product.Description</i></p>
                </div>
                <div class="clearfix">
                    <div class="btn-group float-right">
                        <a class="btn btn-sm  btn-danger" href="#"><i class="fas fa-cart-arrow-down"></i></a>
                        <a class="btn btn-sm  btn-success" asp-controller="ShoppingCart" asp-action="Buy" asp-route-id="@product.Id">Add to cart</a>
                    </div>
                </div>

                </div>
            </div>
    </div>
</div>




    teller++;
    @if (teller == 3)
    {
        teller = 0;
    @:  </div>
}

    }
    }
</div>